*{
  text-decoration: none;
  list-style: none;
}

.btn{
  margin: 10px;
}
.btn:hover{
  background-color: rgb(0, 0, 0);
  color: #00ff0d;
}
.border{
  padding: 10px;
}

.navbar{
  box-shadow:8px 4px 25px #bebebe;
}

a{
  text-decoration: none;
}

.card{
  color: white;
}

.cardpro{ 
  width: 18rem;
}
.card-body{
  color: black;
}

.nav-item{
  cursor: pointer;
}